---
import { BodyLong, Heading } from '@navikt/ds-react';
import KattIBoks from '../../img/KattIBoks';
import type { Language } from '../../language/language';
import { text } from '../../language/text';
import Layout from '../../layouts/Layout.astro';
import styles from '../../styles/error.module.css';
import { baseUrl } from '../../utils/server/urls';

const language = Astro.currentLocale as Language;
---

<Layout title="Utkast">
  <div class={styles.container}>
    <Heading size={'xlarge'}>{text.errorHeading[language]}</Heading>
    <KattIBoks alt={text.errorKitten[language]} />
    <BodyLong>
      <strong>{text.errorText[language]}</strong>
    </BodyLong>
    <BodyLong>
      {text.errorHelp[language]}
      <a href={baseUrl}>{text.minSide[language]}</a>
    </BodyLong>
  </div>
</Layout>
