---
import { MIN_SIDE_URL } from "astro:env/server";
import { Loader } from "@navikt/ds-react";
import PageHeader from "@src/components/pageHeader/PageHeader.astro";
import Utkast from "../../components/utkast/Utkast.astro";
import type { Language } from "../../language/language";
import { text } from "../../language/text";
import Layout from "../../layouts/Layout.astro";
import styles from "../../styles/index.module.css";

const language = Astro.currentLocale as Language;
---

<Layout title="Utkast">
  <div class={styles.headingWrapper}>
    <PageHeader
      breadcrumbItems={[{ href: MIN_SIDE_URL, label: text.minSide[language] }]}
      title={text.utkast[language]}
      description={text.description[language]}
    />
  </div>
  <div class={styles.utkastWrapper}>
    <Utkast language={language} server:defer>
      <Loader slot="fallback" />
    </Utkast>
  </div>
</Layout>
