---
import { UTKAST_API_URL } from "astro:env/server";
import ErrorBox from "@src/components/error/Error.astro";
import type { Language } from "@src/language/language";
import { fetchUtkast } from "@src/utils/fetch";
import logger from "@src/utils/logger.ts";
import { sortByOpprettet } from "@src/utils/sorting";
import { getOboToken } from "@src/utils/token";
import IngenUtkast from "../ingen/IngenUtkast.astro";
import styles from "./Utkast.module.css";
import UtkastLinkCard from "./UtkastLinkCard";
import type { UtkastElement } from "./UtkastTypes.ts";

interface Props {
  language: Language;
}

const oboToken = await getOboToken(Astro.locals.token);
const { language } = Astro.props;

let data = [];
let isError = false;

try {
  data = await fetchUtkast(oboToken, UTKAST_API_URL);
} catch (error) {
  logger.error(`Error fetching utkast: ${error}`);
  isError = true;
}
---

<>
  {
    isError ? (
      <ErrorBox language={language} />
    ) : data?.length == 0 ? (
      <IngenUtkast language={language} />
    ) : (
      <ul class={styles.utkastList}>
        {data?.sort(sortByOpprettet).map((utkast: UtkastElement) => (
          <li class={styles.container}>
            <UtkastLinkCard
              utkast={utkast}
              language={language}
            />
          </li>
        ))}
      </ul>
    )
  }
</>

<script>
    import { logEvent } from "@src/utils/analytics";

    document
      .querySelectorAll('[data-analytics-id="utkast-åpnet"]')
      .forEach((element) => {
        element.addEventListener("click", () => logEvent("utkast-åpnet"));
      });
</script>