---
import "@navikt/ds-css";
import { MIN_SIDE_URL } from "astro:env/server";
import { fetchDecoratorHtml } from "@navikt/nav-dekoratoren-moduler/ssr";
import type { Language } from "../language/language";
import { getDecoratorEnvironment } from "../utils/environment";
import styles from "./Layout.module.css";

const language = Astro.currentLocale as Language;

const Decorator = await fetchDecoratorHtml({
  env: getDecoratorEnvironment(),
  params: {
    context: "privatperson",
    language: language,
    availableLanguages: [
      {
        locale: "nb",
        url: `${MIN_SIDE_URL}utkast/nb`,
        handleInApp: false,
      },
      {
        locale: "en",
        url: `${MIN_SIDE_URL}utkast/en`,
        handleInApp: false,
      },
      {
        locale: "nn",
        url: `${MIN_SIDE_URL}utkast/nn`,
        handleInApp: false,
      },
    ],
  },
});

const {
  DECORATOR_HEAD_ASSETS,
  DECORATOR_HEADER,
  DECORATOR_FOOTER,
  DECORATOR_SCRIPTS,
} = Decorator;
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Utkast</title>
    <Fragment set:html={DECORATOR_HEAD_ASSETS} />
  </head>
  <body class="main">
  <Fragment set:html={DECORATOR_HEADER} />
    <div class={styles.container}>
      <slot />
    </div>
  <Fragment set:html={DECORATOR_FOOTER} />
  <Fragment set:html={DECORATOR_SCRIPTS} />
  </body>
</html>